*~
.DS_Store
/2nash
*.o
*.lo
*.la
*.tar.gz
/lrs
/lrs1
/lrsnash
/nashdemo
/redund
/redund1
/setnash
/setnash2
.deps
.libs
/Makefile.in
/aclocal.m4
autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/makefile
/Makefile
/plrs1
/plrs
/plrsmp
/.dirstamp
/mplrs/Makefile
/mplrs/Makefile.in
/mplrs/mplrs
/mplrs/mplrs1
